{% extends 'base.html' %}
{% load static %}

{% block body %}
    <h1>Cart</h1>

    <p>Order's Number: {{ order.id }}</p>
    <p>Order's Total: {{ order.total_price }}</p>
    <p>Total Products: {{ order.total_quantity }}</p>

    {% for item in order_items %}
        <p>
            <img src="{{ item.stok_item.product.image.url }}" width="50px"> 
            Product: {{ item.stok_item.product.name }}; 
            Color {{ item.stok_item.color.name }}; 
            Size: {{ item.stok_item.size }}; 
            Quantity: {{ item.quantity }};
            unit price: $ {{ item.stok_item.product.price }};
            Total: $ {{ item.total_price }}
        </p>
    {% endfor %}

    <a href="{% url 'checkout' %}">Checkout</a>
{% endblock %}