{% extends 'base.html' %}
{% load static %}

{% block body %}
    <h1>Cart</h1>

    <h4>Order Number: {{ order.id }}</h4>

    {% for item in order_items %}
        <p>
            <img src="{{ item.stok_item.product.image.url }}" width="50px"> 
            Product: {{ item.stok_item.product.name }}; 
            Color {{ item.stok_item.color.name }}; 
            Size: {{ item.stok_item.size }}; 
            Quantity: {{ item.quantity }};
        </p>
    {% endfor %}

    <a href="{% url 'checkout' %}">Checkout</a>
{% endblock %}