{% load static %}

<nav>
    <a href="{% url 'homepage' %}"><span>W</span>olpeer</a>
    <a href="{% url 'store' %}">Store</a>
    <a href="{% url 'login' %}">Login</a>
    <a href="{% url 'account' %}">My Account</a>
    <a href="{% url 'cart' %}">cart</a>
    <img src="{% static 'images/carrinho.png' %}" width="35px;"> 
    {{ items_cart }}


    <div style="display: flex"> 
        {% for category in categories_navbar %}
            <div>
                <a href={% url 'store' %} {{ category.slug }}>{{ category.name }}:</a>
                <br>
                {% for type in types_navbar %}
                    <a  href={% url 'store' %}{{ category.slug }}-{{ type.slug }}>{{ type.name }}</a>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
</nav>