{% extends 'base.html' %}
{% load static %}

{% block body %}
    <h1>{{ product.name }}</h1>

    {% if there_is_stok %}
        <img src="{{ product.image.url }}" width="300" heigth="450">  
        <p>Product: {{ product.name }}</p>
        <p>Price: {{ product.price }}</p>

        {% if color_selected %}
            Color: {{ color_selected.name }} 
        {% endif %}

        {% for color in colors %}
            {{ color.name }}
            <a href="{% url 'see_product' product.id color.id %}">
                <i class="fa-solid fa-circle" style="color: {{ color.code }};"></i>
            </a>
        {% endfor %}

        {% if sizes %}
            <form method="POST" action="{% url 'addto_cart' product.id %}">
                {% csrf_token %}
                <p>Select the size:<p>
                {% for size in sizes %}
                    <input type="radio" name="size" value="{{ size }}">
                    <label for="{{ size }}">{{ size }}</label>
                {% endfor %}

                <input type="hidden" name="color" value="{{ selected_color }}">
                <button type="submit">Add to Cart</button>
            </form>
        {% endif %}
        <br>
        
    {% else %}
        <p>Out of Stok</p>
    {% endif %}
    

    

   
{% endblock %}