{% extends 'base.html' %}
{% load static %}

{% block body %}
    <h1>Fill out the form to create an account</h1>

    {% if error == "to_fill" %}
       <p>Fill out the form fields correctly to create an account</p>
    {% endif %}

    {% if error == "invalid_email" %}
       <p>Invalid E-mail</p>
    {% endif %}

    {% if error == "existing_user" %}
       <p>There is already a user with this email.<a href="{% url 'to_sign_in' %}">Login</a></p>
    {% endif %}

    {% if error == "imcompatible_passwords" %}
       <p>Password and Re-enter password do not match</p>
    {% endif %}

    <form method="POST" action="{% url 'create_account' %}"> 
        {% csrf_token %}
        <input type="email" name="email" placeholder="E-mail">
        <br>
        <input type="password" name="password" placeholder="Password">
        <br>
        <input type="password" name="password_comfirm" placeholder="Re-enter password">
        <br>
        <button type="submit">Create My Account<button>
    </form>

    <a href="{% url 'to_sign_in' %}">You already have an account? Click here to Login<a>
{% endblock %}