{% extends 'base.html' %}
{% load static %}

{% block body %}
    <main class="principal">
        <section class="conta">
            <div class="conta__container">
                <div class="checkout__titulos">
                    <p class="checkout__titulo">Sign in</p>
                </div>
    
                {% if error %}
                    <h4>Invalid credentials, try again or create an account</h4>
                {% endif %}
      
                <form
                  class="conta__form"
                  action="{% url 'to_sign_in' %}"
                  method="post">
                  {% csrf_token %}
      
                  <div class="conta__item conta__item--email">
                    <label for="email">E-mail</label>
                    <input name="email" type="email" placeholder="E-mail" />
                  </div>
      
                  <div class="conta__item conta__item--email">
                    <label for="password">Password</label>
                    <input name="password" type="password" placeholder="Password" />
                  </div>
      
                  <button class="subtotal__botao" type="submit">Login</button>
                </form>

                <a href="{% url 'create_account' %}">Don't have an account? Click here to create one<a>
                <br>
                <a href="{% url 'password_reset' %}">Forgot my password<a>
            </div>
        </section>
    </main>
{% endblock %}